.header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    background-color:rgb(44, 47, 59);
    height:100px;
    justify-content: center;
    z-index:200;
}
.header-width{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.left-section{
    display:flex;
    align-items:center;
}
.agnizelogo{
    cursor: pointer;
}
.agnize-title-text{
    color:lightgrey;
    font-family:Arial;
    display:flex;
    align-items:end;
    margin-left:20px;
    font-weight:bold;
    white-space:nowrap;
}
.right-section{
    display:flex;
    align-items:center;
}
.right-section div{
    margin-left: 30px;
    color:white;
    font-weight:bold;
    cursor: pointer;
}
a{
    text-decoration: none;
}