.section-three {
  display: flex;
  justify-content: center;
  background-color: rgb(44, 47, 59);
}

.section-three-width {

  justify-content: space-between;
  margin-bottom: 60px;
  width: 90%;
}

.stbs-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: white;
  margin-right: 15px;
  text-align: center;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}

.stbs-container-top {
  overflow: hidden;
  position: relative;
}

.stbs-container:hover .gradient{
  height: 100%;
  width: 100%;
  background-color: rgba(40, 145, 215, 0.497);
  position: absolute;
  opacity: 0.7;
  z-index: 100;
  overflow: hidden;
}

.stbs-container:hover .stbscb-three{
  text-decoration: underline;
}

.container-thumb {
  transition: all 0.3s;
  width:100%;
}

.container-thumb:hover {
  transform: scale(1.2);
}

.stbs-container:hover .container-thumb {
  transform: scale(1.2);
}

.stbs-container:hover {
  margin-top: -3px;
}

.stbs-container-bottom {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stbscb-one {
  font-weight: bold;
  font-size: 21px;
  width: 80%;
  line-height: 30px;
}

.stbscb-two {
  width: 90%;
  margin-top: 10px;
  line-height: 25px;
}

.stbscb-three {
  position: absolute;
  bottom: 20px;
  font-weight: bold;
}