.section-one{
    margin:0;
    width:100%;
    height:500px;
    display:flex;
    justify-content:center;
    background:linear-gradient(to right, rgb(225, 225, 225),rgba(0,0,0,0)),url('../icons/background-image-2.png');
    background-size:cover;
    background-position:center;
}
.section-one-width{
    width:90%;
    max-width:1300px;
}
.section-one-text-section{
    padding-top:100px;
    top:250px;
    font-size:40px;
    font-weight:bold;
}
.section-one-body-section{
    margin-top:25px;
    font-size:17px;
    line-height:25px;
    margin-bottom: 25px;
}