.section-five{
    display:flex;
    background-color:rgb(238, 237, 237);
    justify-content:center;
}

.section-five-width{
    width:90%;
    margin-top:50px;
    max-width:1300px;
}

.sf-top-section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:bold;
    font-size:30px;
    margin-bottom:50px;
    vertical-align: center;
}

.sf-bottom-section{
    display:flex;
    justify-content:center;
}

.news-card{
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
    position:relative;
    margin-right: 10px;
    margin-left: 10px;
}

.news-card-height{
    background-color: white;
    overflow: hidden;
}



.news-card-bottom{
    padding-left:10px;
    padding-top:20px;
    padding-right: 10px;
}

.text-part-one{
    line-height:23px;
}

.text-part-two{
    font-weight:bold;
    font-size:21px;
    cursor: pointer;
}

.read-more-card{
    background-color: white;
    padding: 12px 15px;
    border-top: 1px solid rgb(228, 228, 228);
    cursor: pointer;
    padding-left: 20px;
}

.read-more-card:hover{
    background-color: rgb(213, 213, 213);
    text-decoration: underline;
}

.news-card:hover .read-more-card{
    background-color: rgb(213, 213, 213);
    text-decoration: underline;
}
.news-card:hover .news-card-height{
    background-color: rgb(240, 240, 240);
}